
#ignore files created for a magpie calibration run
/calib_run/
magpie_calib.*

#ignore input files
*.cs*
*.mz
/input/

#ignore outputs
*.gdx
*.rda
*.opt
*.lst
/output/

#ignore R support files
.Rhistory

#ignore documentation folder
/doc/*/
/doc/*.pdf
/doc/*.rds
/doc/*.tex
